.checkout_layout {
  background-color: rgb(226, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout {
  background-color: white;
  display: flex;
  padding: 50px;
  height: max-content;
}
.checkout-title {
  margin-right: 250px;
  border-bottom: 1px solid lightgrey;
}
.checkout_right {
  margin-top: -25px;
  margin-left: 100px;
  margin-right: -35px;
}

.checkout-image {
  width: 100%;
}
